version: "3.9"

services:
  api:
    image: node:20-alpine
    container_name: api
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true

  frontend:
    image: node:22-alpine
    container_name: frontend
    working_dir: /app
    command: sh -c "npm install && npm run dev -- --host --port 5174"
    depends_on:
      - api
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5174:5174"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
